[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
waitress = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
